:root {
    --color-primario: #ffffff;
    --color-secundario: #ffa027;
    --color-terciario: #080808;
    --color-cuaternario-black: #000000;

    --fuente: 'Comic Neue', cursive;
    --w-img: 32rem;
    --h-img: 32rem;
    --background-color-opacity: rgba(38, 38, 38, 255);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: 700;
}

body {
    background-color: var(--color-terciario);
}


/* #region nav */


.bg-body-tertiari {
    background-color: var(--color-secundario);
}

.container-logo {
    width: 4rem;
    background-color: var(--color-secundario);
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
}

.container-nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



.text-logo {
    font-size: 2rem;
    color: var(--color-primario);
    font-family: var(--fuente);
    font-weight: bold;
}

.container-nav_menu a {
    text-decoration: none;
    color: var(--color-primario);
    transition: all .6s ease-in-out;
    width: 100%;
    border-radius: 1rem;
}

.nav-link:hover {
    color: var(--color-cuaternario-black);
    padding-left: 1rem;
    background-color: var(--color-secundario);
   
} 


.container-nav_menu {
    display: flex;
    gap: .5rem;
    background-color: var(--background-color-opacity);
    padding: .5rem 3rem;
    border-radius: 1rem;
}





/* #endregion nav */



/* #region main */


.titulo-body {
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primario);
    height: 250px;

}

.container-main-parrafo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: center;
}

.container-main-img {
    position: absolute;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    margin-top: 1rem;
}

.bg-color {

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 20rem;
    width: 20rem;

    /* width: var(--w-img);
    height: var(--h-img); */
    background-color: var(--color-secundario);
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);
}

.container-arrow-parrafo {
    display: flex;
}




.bg-img0 {
    /* width: var(--w-img);
    height: var(--h-img); */
    height: 20rem;
    width: 20rem;
    background-image: url(./img/imgcirc1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);
    /* margin-left: -10rem; */
    margin-top: -10rem;

}

.bg-img1 {
    width: var(--w-img);
    height: var(--h-img);
    height: 20rem;
    width: 20rem;
    background-image: url(./img/imgcirc02.avif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);
    /* margin-left: -2rem; */
    margin-top: -10rem;
}

.container-titulo-main {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    z-index: 20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.parrafo {
    width: 150px;
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

.container-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.container-iconos {
    display: flex;
    justify-content: start;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.iconos {
    color: var(--color-primario);
    width: 30px;
    height: 30px;
    /* font-size: 1.2rem; */
    background-color: var(--background-color-opacity);
    padding: 0.5rem;
    border-radius: 50%;
}

.tiutlo {
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--color-secundario);
}

.container-subtt-arrow {
    display: flex;
}

.ancor-subt {
    color: var(--color-cuaternario-black);
    background-color: var(--color-primario);
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.ancor-subt-arrow {
    border-radius: 50%;
    border: 2px solid var(--color-primario);
    padding: .5rem;
    margin-left: 0;
}


/* #endregion nav */

/* #region bootstrap */

.navbar-toggler {
    background-color: white;
    border: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0;
}
    /* #endregion bootstrap */

    /* #region breakpoints */




    @media (min-width: 576px) {
        .bg-sm-body-tertiary {
            background-color: var(--color-secundario);
        }
    }


    @media (min-width: 768px) {
        .bg-body-tertiari {
            background-color: var(--color-terciario);
        }
        .container-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: var(--color-terciario);
            padding: 1rem;
        }
       
        .container-nav_menu .bss {
            background-color: var(--color-primario);
            color: var(--color-terciario);
            padding: .3rem .5rem;
            border-radius: 1rem;
        }
        .nav-link:hover {
            color: var(--color-cuaternario-black);
            background-color: var(--color-secundario);
        }    
    }

    @media (min-width: 992px) { 
        .container-nav_secun .btn-ss {
            background-color: var(--color-secundario);
            color: var(--color-cuaternario-black);
        }
        .container-nav_secun {
            /* display: flex !important;
            padding: .5rem;
            */
        }
        .container-nav_secun a {
            padding: .5rem 1rem;
            border: 1px solid var(--color-primario);
            border-radius: 1rem;
            text-decoration: none;
            color: var(--color-primario)
        }
        .nav-link:hover {
            color: var(--color-primario);
        }
    } 


    /* @media (min-width: 1200px) { ... } */


    /* @media (min-width: 1400px) { ... } */


     /* #endregion breakpoints */