:root {
    --color-primario: #ffffff;
    --color-secundario: #ffa027;
    --color-terciario: #080808;
    --color-cuaternario-black: #000000;
    --color-card: #FFA846;
    --fuente: 'Comic Neue', cursive;
    --w-img: 30rem;
    --h-img: 30rem;
    --background-color-opacity: rgba(38, 38, 38, 255);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: 700;
}

body {
    background-color: var(--color-terciario);
}


/* #region nav */


.bg-body-tertiari {
    background-color: var(--color-secundario);
}

.container-logo {
    width: 4rem;
    background-color: var(--color-secundario);
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
}

.container-nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



.text-logo {
    font-size: 3rem;
    color: var(--color-primario);
    font-family: var(--fuente);
    font-weight: bold;
}

.container-nav_menu a {
    text-decoration: none;
    color: var(--color-primario);
    transition: all .6s ease-in-out;
    width: 100%;
    border-radius: 1rem;
}

.nav-link:hover {
    color: var(--color-cuaternario-black);
    padding-left: 1rem;
    background-color: var(--color-secundario);

}


.container-nav_menu {
    display: flex;
    gap: .5rem;
    background-color: var(--background-color-opacity);
    padding: .5rem 3rem;
    border-radius: 1rem;
}





/* #endregion nav */



/* #region main */
.container-main {
    position: relative;
    display: flex;
    align-items: center;
}

.container-main-parrafo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-body {
    font-size: 300px;
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primario);

}




.container-main-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
    padding-top: 1rem;

}

.bg-w-h {
    width: 350px;
    height: 350px;
}

.bg-color {

    background-color: var(--color-secundario);
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);
}

.container-arrow-parrafo {
    display: flex;
}




.bg-img0 {

    background-image: url(./img/imgcirc1.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);


}

.bg-img1 {

    background-image: url(./img/imgcirc02.avif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid var(--color-cuaternario-black);

}

.container-titulo-main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.parrafo {
    width: 150px;
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

.container-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.container-iconos {
    display: flex;
    justify-content: start;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.iconos {
    color: var(--color-primario);
    width: 30px;
    height: 30px;
    /* font-size: 1.2rem; */
    background-color: var(--background-color-opacity);
    padding: 0.5rem;
    border-radius: 50%;
}

.tiutlo {
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--color-secundario);
}

.container-subtt-arrow {
    display: flex;
}

.ancor-subt {
    color: var(--color-cuaternario-black);
    background-color: var(--color-primario);
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.ancor-subt-arrow {
    border-radius: 50%;
    border: 2px solid var(--color-primario);
    padding: .5rem;
    margin-left: 0;
}

.ancor-subt-arrow:hover {

    background-color: var(--color-secundario);
}


/* #endregion nav */

/* #region footer-card */
.bg-card {
    background-color: var(--color-card);

}

.img-card {
    width: 400px;
    height: 100%;
    background-color: var(--color-card);
    display: flex;
    justify-content: end;
    align-items: center;

}

.card-circle {
    border-radius: 50%;
    width: 40%;

    overflow: hidden;
    height: 90%;
    background-color: #000000;
}

.card-img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    background-image: url(./img/img-card1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2rem;
}

.card-img2 {
    background-image: url(./img/img-card2.png);
}

.card-img3 {
    background-image: url(./img/img-card4.png);
   
}

.bg-card-p {

    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 1.5rem;
}

.bgopacity {
    background-color: var(--background-color-opacity);
}

.bgblack {
    background-color: var(--color-cuaternario-black);
}

.btn-bg {

    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--color-primario);
    background-color: var(--background-color-opacity);
}

.container-section {
    border-radius: 2rem !important;

    overflow: hidden;
}
.card3 {
    width: 100%;
    height: 100%;
    background-image: url(./img/img-card3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* #endregion footer-card */

/* #region bootstrap */

.navbar-toggler {
    background-color: white;
    border: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0;
}

.row > * {
   
   
    padding-right: 0;
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}
.img-fluid {
    max-width: 100%;
    height: 15rem;
  }

/* #endregion bootstrap */

/* #region breakpoints */


@media (min-width: 450px) {

    .container-main {

        align-items: normal;
    }
}



@media (min-width: 576px) {
    .bg-sm-body-tertiary {
        background-color: var(--color-secundario);
    }





}

/* @media (min-width: 602px) {

    .bg-w-h {
        width: 305px;
        height: 305px;
    }
}
@media (min-width: 612px) {

    .bg-w-h {
        width: 308px;
        height: 308px;
    }
} */

/* @media (min-width: 702px) {
    .bg-img1 {
        margin-top: -50px;
    }
} */

@media (min-width: 768px) {
    .bg-body-tertiari {
        background-color: var(--color-terciario);
    }

    .container-nav_menu.container-nav_secun {
        gap: 0;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--color-terciario);
        padding: 1rem;
    }


    .nav-link:hover {
        color: var(--color-cuaternario-black);
        background-color: var(--color-secundario);
    }

    .container-main {
        align-items: normal;
    }
}

@media (min-width: 992px) {
    .container-nav_secun .btn-ss {
        background-color: var(--color-secundario);
        color: var(--color-cuaternario-black);
    }



    .container-nav_secun a {
        padding: .5rem 1rem;
        border: 1px solid var(--color-primario);
        border-radius: 1rem;
        text-decoration: none;
        color: var(--color-primario)
    }

    .container-nav_secun {
        background-color: transparent;
    }

    .bss a {
        background-color: var(--color-primario);
        color: var(--color-cuaternario-black);
        padding: .3rem .5rem;
        border-radius: 1rem;
    }



    .bg-img0 {
        margin-to: 10px;
    }

    .bg-img1 {
        margin-to: 10px;
    }
}

@media (min-width: 1052px) {
    .bg-img1 {
        margin-top: 0;
    }

    .container-titulo-main {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .w-70 {
        flex-direction: row !important;
        width: 65%;
    }

    .container-ul {

        display: flex;
        flex-direction: column;

    }
}

@media (min-width: 1200px) {
    .container-main-parrafo {

        justify-content: space-between;
    }

    .bg-img0 {
        margin-left: -10rem;
    }

    .bg-img1 {
        margin-left: -10rem;
    }

    .bg-secondary {
        background-color: transparent !important;
    }
}



/* @media (min-width: 1400px) { ... } */


/* #endregion breakpoints */